PORT=4000
FRAME_SAMPLE_INTERVAL_MS=200
MAX_VIDEO_SIZE_MB=100
MIN_LANDMARK_VISIBILITY=0.5
NODE_ENV=development
GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant
TEMP_DIR=./temp
UPLOAD_DIR=./uploads
FRAME_DIR=./frames
